<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.modular.mapper.ManagerMapper">
<!-- 初始化菜单树 -->
    <resultMap type="cn.lastwhisper.core.util.Tree" id="regionTree">
        <id column="region_id" property="id" javaType="java.lang.String" />
        <result column="region_name" property="text" javaType="java.lang.String" />
        <collection column="region_id" property="children" select="selectChild"/>
    </resultMap>

<!-- 查找一级菜单 -->
	<!-- 先查询菜单根级目录 -->
	<!-- 这里的返回结果必须为resultMap，并且值为上面构建的resultMap的id的值 -->
	<select id="selectRegionList" resultMap="regionTree">
		select * from region where pid ='4205' order by region_order
	</select>
<!-- 查询二级菜单 -->
	<select id="selectChild" resultMap="regionTree">
		select * from region where pid = #{region_id} order by region_order
	</select>
	
	<!-- 查询所有菜单的id、name -->
	<select id="selectRegionIdName" resultType="region">
		SELECT region_id,region_name FROM region where pid = #{pid} order by region_order
	</select>
	
	<!-- 查询所有菜单的所有属性 --> 
	<select id="selectRegion" resultType="region">
		SELECT region_id,region_code,region_name,region_order,pid,is_parent FROM region where pid = #{pid} order by region_order
	</select>
	
	<select id="selectRegionById" resultType="region">
		SELECT region_id,region_code,region_name,region_order,pid,is_parent FROM region where region_id = #{region_id} order by region_order
	</select>
	
	<!-- 根据userid加载对应菜单 -->
	<select id="findAllRegionList" resultType="region">
		SELECT 
			region_id,region_code,region_name,region_order,pid,is_parent
		FROM 
			region
		order by
			region_order
	</select>
<!-- 查询菜单结束 -->

<!-- 根据id查询菜单 -->
	<select id="findManagerByRegionId" parameterType="java.lang.String" resultType="manager">
		select * from manager where region_id = #{region_id}  
	</select>
<!-- 根据id查询菜单 -->
	<select id="findManagerByNameRegion" parameterType="java.lang.String" resultType="manager">
		select * from manager where region_id = #{region_id} and manager_name = #{manager_name}
	</select>	
<!-- 插入数据 -->
	<insert id="insertRegion" parameterType="region">
		insert into region(('region_id','region_code','region_name','region_order','pid','is_parent'))
		 values(
		<if test='region_id != null and region_id != ""'>
			#{region_id}
		</if>
		<if test='region_id == null or region_id == ""'>
			null
		</if>
		<if test='region_code != null and region_code != ""'>
			,#{region_code}
		</if>
		<if test='region_code == null or region_code == ""'>
			,null
		</if>
		<if test='region_name != null and region_name != "" '>
			,#{region_name}
		</if>
		<if test='region_name == null or region_name == ""'>
			,null
		</if>
		<if test='region_order != null and region_order != ""'>
			,#{region_order}
		</if>
		<if test='region_order == null or region_order == ""'>
			,null
		</if>
		<if test='pid != null and pid != ""'>
			,#{pid}
		</if>
		<if test='pid == null or pid == ""'>
			,null
		</if>
		<if test='is_parent != null'>
			,#{is_parent}
		</if>
		<if test='is_parent == null'>
			,null
		</if>
		);
	</insert>
<!-- 	根据id删除数据-->
	<update id="deleteManagerById">
		delete from region_manager where manager_id = #{0}
	</update>
<!-- 	根据id修改数据 -->
	<update id="updateRegionById" parameterType="region">
		update menu
		<trim prefix="set" suffixOverrides="," suffix="where region_id = #{region_id}">
			<if test='menuname != null and menuname != ""'>
				region_name = #{region_name},
			</if>
			<if test='region_code != null and region_code != "" '>
				url = #{region_code},
			</if>
			<if test='region_order != null and region_order != ""'>
				icon = #{region_order},
			</if>
			<if test='pid != null and pid != ""'>
				pid = #{pid},
			</if>
			<if test='is_parent != null'>
				is_parent = #{is_parent}
			</if>
		</trim>
	</update>
</mapper>