<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.modular.mapper.ManagerMapper">
<!-- 初始化菜单树 -->
    <resultMap type="cn.lastwhisper.core.util.Tree" id="regionTree">
        <id column="region_id" property="id" javaType="java.lang.String" />
        <result column="region_name" property="text" javaType="java.lang.String" />
        <collection column="region_id" property="children" select="selectChild"/>
    </resultMap>

<!-- 查找一级菜单 -->
	<!-- 先查询菜单根级目录 -->
	<!-- 这里的返回结果必须为resultMap，并且值为上面构建的resultMap的id的值 -->
	<select id="selectRegionList" resultMap="regionTree">
		select * from region where pid ='4205' order by region_order
	</select>
<!-- 查询二级菜单 -->
	<select id="selectChild" resultMap="regionTree">
		select * from region where pid = #{region_id} order by region_order
	</select>
	
	<!-- 查询所有菜单的id、name -->
	<select id="selectRegionIdName" resultType="region">
		SELECT region_id,region_name FROM region where pid = #{pid} order by region_order
	</select>
	
	<!-- 查询所有菜单的所有属性 --> 
	<select id="selectRegion" resultType="region">
		SELECT region_id,region_code,region_name,region_order,pid,is_parent FROM region where pid = #{pid} order by region_order
	</select>
	
	<select id="selectRegionById" resultType="region">
		SELECT region_id,region_code,region_name,region_order,pid,is_parent FROM region where region_id = #{region_id} order by region_order
	</select>
	
	<!-- 根据userid加载对应菜单 -->
	<select id="findAllRegionList" resultType="region">
		SELECT 
			region_id,region_code,region_name,region_order,pid,is_parent
		FROM 
			region
		order by
			region_order
	</select>
<!-- 查询菜单结束 -->

<!-- 根据id查询 -->
	<select id="findManagerByRegionId" parameterType="java.lang.String" resultType="manager">
		select * from manager where region_id = #{region_id}  
	</select>

	<select id="findManagerById" parameterType="java.lang.String" resultType="manager">
		select * from manager where manager_id = #{manager_id}  
	</select>

	<select id="findManagerByNameRegion" parameterType="java.lang.String" resultType="manager">
		select * from manager where region_id = #{region_id} and manager_name = #{manager_name}
	</select>	

	<insert id="insertManager" parameterType="manager">
		INSERT INTO manager(region_id,manager_name,manager_title,manager_contact1,manager_contact2)
		VALUES( #{region_id}
		<if test='manager_name != null'>
			,#{manager_name}
		</if>
		<if test='manager_name == null'>
			,null
		</if>
		<if test='manager_title != null'>
			,#{manager_title}
		</if>
		<if test='manager_title == null'>
			,null
		</if>
		<if test='manager_contact1 != null'>
			,#{manager_contact1}
		</if>
		<if test='manager_contact1 == null'>
			,null
		</if>
		<if test='manager_contact2 != null'>
			,#{manager_contact2}
		</if>
		<if test='manager_contact2 == null'>
			,null
		</if>
		);
	</insert>
<!-- 	根据id删除数据-->
	<update id="deleteManagerById">
		delete from manager where manager_id = #{0}
	</update>
<!-- 	根据id修改数据 -->
	<update id="updateManagerById" parameterType="manager">
		update manager
		<trim prefix="set" suffixOverrides="," suffix="where manager_id = #{manager_id}">
			<if test='manager_name != null and manager_name != ""'>
				manager_name = #{manager_name},
			</if>
			<if test='manager_title != null and manager_title != "" '>
				manager_title = #{manager_title},
			</if>
			<if test='manager_contact1 != null and manager_contact1 != ""'>
				manager_contact1 = #{manager_contact1},
			<if test='manager_contact2 != null and manager_contact2 != ""'>
				manager_contact2 = #{manager_contact2},
			</if></if>
		</trim>
	</update>
</mapper>