<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.modular.mapper.PondMapper">
    <resultMap type="cn.lastwhisper.modular.pojo.Pond" id="pondMap">
        <id column="pond_id" property="pond_id"/>
        <!--
        <result column="region_id" property="region_id"/>
        <result column="date_from" property="date_from"/>
        <result column="village_addr" property="village_addr"/>
        <result column="pondname" property="pondname"/>
        <result column="pondarea" property="pondarea"/>
        <result column="pondage" property="pondage"/>
        <result column="cover_area" property="cover_area"/>
        <result column="benifit_farmers" property="benifit_farmers"/>
        <result column="lng_deg" property="lng_deg"/>
        <result column="lng_min" property="lng_min"/>
        <result column="lng_sec" property="lng_sec"/>
        <result column="lat_deg" property="lat_deg"/>
        <result column="lat_min" property="lat_min"/>
        <result column="lat_sec" property="lat_sec"/>
        <result column="town_manager_id" property="town_manager_id"/>
        <result column="village_manager_name" property="village_manager_name"/>
        <result column="village_manager_title" property="village_manager_title"/>
        <result column="village_manager_tel" property="village_manager_tel"/>
        <result column="village_cleaner_name" property="village_cleaner_name"/>
        <result column="village_cleaner_title" property="village_cleaner_title"/>
        <result column="village_cleaner_tel" property="village_cleaner_tel"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="update_time" property="update_time"/>
          -->
        <association column="region_id" property="region"  select ="getRegionByID" />
        <association column="town_manager_id" property="manager"  select ="getManagerByID" />
    </resultMap> 
	<select id="getPondById" parameterType="pond" resultMap="pondMap">
		SELECT * FROM pond where pond_id = #{pond_id}
	</select>
 	<select id="getRegionByID" parameterType="java.lang.String" resultType="cn.lastwhisper.modular.pojo.Region">
		select * from region where region_id = #{region_id}
	</select>     
	 	<select id="getManagerByID" parameterType="java.lang.String" resultType="cn.lastwhisper.modular.pojo.Manager">
		select *  from manager where	manager_id = #{town_manager_id}
	</select> 	
	<select id="findPondlistByPage" parameterType="pond" resultType="pond">
		SELECT pond.pond_id,pond.date_from,pond.region_id,region.region_name,pond.village_addr,
    		pond.pondname,pond.pondarea,pond.pondage,pond.cover_area,pond.benifit_farmers,
    		pond.lng_deg, pond.lng_min, pond.lng_sec, pond.lat_deg,pond.lat_min,pond.lat_sec,
    		pond.town_manager_id,pond.status, pond.update_time
		FROM pond,region
		where pond.region_id=region.region_id
		<if test="pondname!=null">
			and
			pond.pondname like '%${pondname}%'
		</if>
		<if test='region_id != null and region_id != ""'>
			and
			pond.region_id = '${region_id}'
		</if>
	</select>
	<select id="findPondFuzzyName" parameterType="java.lang.String" resultType="pond">
		select pondname from pond
		where
		pondname like concat('%', #{pondname}, '%') 
	</select>
<!-- 添加用户 -->
	<insert id="insertPond" parameterType="pond" useGeneratedKeys="true" keyProperty="pond_id">
	INSERT INTO pond(
		date_from,region_id,village_addr,pondname,pondarea,pondage,cover_area,benifit_farmers,
		lng_deg,lng_min,lng_sec,lat_deg,lat_min,lat_sec,town_manager_id,village_manager_name,village_manager_title,village_manager_tel,
		village_cleaner_name,village_cleaner_title,village_cleaner_tel,pond_inspector,pond_inspector_title,pond_inspector_tel,
		status_zhipai,status_piaofu,status_laji,status_govern,pond_maintainance,remark,status
	)values(
		 #{date_from},#{region_id},#{village_addr},#{pondname},#{pondarea},#{pondage},#{cover_area},#{benifit_farmers},
		#{lng_deg},#{lng_min},#{lng_sec},#{lat_deg},#{lat_min},#{lat_sec},#{town_manager_id},#{village_manager_name},#{village_manager_title},#{village_manager_tel},
		#{village_cleaner_name},#{village_cleaner_title},#{village_cleaner_tel},#{pond_inspector},#{pond_inspector_title},#{pond_inspector_tel},
		#{status_zhipai},#{status_piaofu},#{status_laji},#{status_govern},#{pond_maintainance},#{remark},#{status}
	)
	</insert>
	<update id="updatePond" parameterType="pond">
		update pond
		<trim prefix="set" suffixOverrides="," suffix="where pond_id = #{pond_id}">
			<if test='region_id != null and region_id != ""'>
				region_id = #{region_id},
			</if>
			<if test='pondname != null and pondname != ""'>
				pondname = #{pondname},
			</if>
			<if test='village_addr != null and village_addr != "" '>
				village_addr = #{village_addr},
			</if>
			<if test='town_manager_id != null and town_manager_id != "" '>
				town_manager_id = #{town_manager_id},
			</if>
				pondarea = #{pondarea},
				pondage = #{pondage},
				cover_area = #{cover_area},
				benifit_farmers = #{benifit_farmers},
				lng_deg = #{lng_deg},
				lng_min = #{lng_min},
				lng_sec = #{lng_sec},
				lat_deg = #{lat_deg},
				lat_min = #{lat_min},
				lat_sec = #{lat_sec},
				village_manager_name = #{village_manager_name},
				village_manager_title = #{village_manager_title},
				village_manager_tel = #{village_manager_tel},
				village_cleaner_name = #{village_cleaner_name},
				village_cleaner_title = #{village_cleaner_title},
				village_cleaner_tel = #{village_cleaner_tel},
				pond_inspector = #{pond_inspector},
				pond_inspector_title = #{pond_inspector_title},
				pond_inspector_tel = #{pond_inspector_tel},
				status_zhipai = #{status_zhipai},
				status_piaofu = #{status_piaofu},
				status_laji = #{status_laji},
				status_govern = #{status_govern},
				pond_maintainance = #{pond_maintainance},
				remark = #{remark}
		</trim>
	</update>	
</mapper>